{% extends "index.html" %}
{% block currentRecipe %}
{{ currentBI }}
{% endblock %}

{% block globalOptimal %}
{{ bestBI }}
{% endblock %}

{% block nutranalysis %}
<!-- <h3 class="page-header">Expected Nutrition Index (NI)</h3> -->
<img src="data:image/png;base64,{{ plot_url }}" class="img-responsive" style="width:100%;">
{% endblock %}

{% block okrecs2 %}
<!-- <h3>Personalized Dinner</h3> -->
{% for rec in okrecs2%}
<form action = "/secondchoice" method="GET">
	  <button style="color:black" type="submit" name="recipename" value={{rec.replace(' ','_')}} class="list-group-item list-group-item-action">{{rec.title()}}</button>
</form>
{% endfor %}
{% endblock %}
